<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="./static/styles/style.css">
<style>
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <h1 class="w3-center w3-padding">Contanos de vos</h1>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:60px">
<h3 class="w3-padding">1. Selecciona tus intereses</h3>
  <!-- First Photo Grid-->
  <div class="" id="food">
    <div class="interest">
      <img src="./static/resources/cooking.jpg" alt="Cocina" style="width:100%; height: 150px;">
      <h3 class="w3-center">Cocina</h3>
    </div>
    <div class="interest">
      <img src="./static/resources/design.jpg" alt="Diseño" style="width:100%; height: 150px;">
      <h3 class="w3-center">Diseño</h3>
    </div>
    <div class="interest">
      <img src="./static/resources/historia.jpg" alt="Historia" style="width:100%; height: 150px;">
      <h3 class="w3-center">Historia</h3>
    </div>
    <div class="interest">
      <img src="./static/resources/architecture.jpg" alt="Arquitectura" style="width:100%; height: 150px;">
      <h3 class="w3-center">Arquitectura</h3>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="">
    <div class="interest">
      <img src="./static/resources/tourism.jpg" alt="Turismo" style="width:100%; height: 150px;">
      <h3 class="w3-center">Turismo</h3>
    </div>
    <div class="interest">
      <img src="./static/resources/salud.jpg" alt="Salud" style="width:100%; height: 150px;">
      <h3 class="w3-center">Salud</h3>
    </div>
    <div class="interest">
      <img src="./static/resources/art.jpg" alt="Arte" style="width:100%; height: 150px;">
      <h3 class="w3-center">Arte</h3>
    </div>
    <div class="interest">
        <img src="./static/resources/tech.jpg" alt="Tecnología" style="width:100%; height: 150px;">
        <h3 class="w3-center">Tecnología</h3>
    </div>
    <div class="w3-quarter interest">
        <img src="./static/resources/animals.jpg" alt="Animales" style="width:100%; height: 150px;">
        <h3 class="w3-center">Animales</h3>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <h3 class="w3-padding">2. Selecciona tus intereses</h3>
          <!-- First Photo Grid-->
          <div class="" id="food">
            <div class="w3-quarter interest">
              <img src="./static/resources/cooking.jpg" alt="Cocina" style="width:100%; height: 150px;">
              <h3 class="w3-center">Cocina</h3>
            </div>
            <div class="w3-quarter interest">
              <img src="./static/resources/design.jpg" alt="Diseño" style="width:100%; height: 150px;">
              <h3 class="w3-center">Diseño</h3>
            </div>
            <div class="w3-quarter interest">
              <img src="./static/resources/historia.jpg" alt="Historia" style="width:100%; height: 150px;">
              <h3 class="w3-center">Historia</h3>
            </div>
            <div class="w3-quarter interest">
              <img src="./static/resources/architecture.jpg" alt="Arquitectura" style="width:100%; height: 150px;">
              <h3 class="w3-center">Arquitectura</h3>
            </div>
          </div>
          
          <!-- Second Photo Grid-->
          <div class="">
            <div class="w3-quarter interest">
              <img src="./static/resources/tourism.jpg" alt="Turismo" style="width:100%; height: 150px;">
              <h3 class="w3-center">Turismo</h3>
            </div>
            <div class="w3-quarter interest">
              <img src="./static/resources/salud.jpg" alt="Salud" style="width:100%; height: 150px;">
              <h3 class="w3-center">Salud</h3>
            </div>
            <div class="w3-quarter interest">
              <img src="./static/resources/art.jpg" alt="Arte" style="width:100%; height: 150px;">
              <h3 class="w3-center">Arte</h3>
            </div>
            <div class="w3-quarter interest">
                <img src="./static/resources/tech.jpg" alt="Tecnología" style="width:100%; height: 150px;">
                <h3 class="w3-center">Tecnología</h3>
            </div>
            <div class="w3-quarter interest">
                <img src="./static/resources/animals.jpg" alt="Animales" style="width:100%; height: 150px;">
                <h3 class="w3-center">Animales</h3>
            </div>
          </div>
        
          <!-- Pagination -->
          <div class="w3-center w3-padding">
            <div class="w3-bar">
              <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
              <a href="#" class="w3-bar-item w3-black w3-button">1</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
          </div>

<!-- End page content -->
</div>
<script></script>
</body>
</html>