<html>
  <title>Mentores</title>
 <meta name="viewport" content="width=device-width, initial-scale=1" charset="ISO-8859-1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/styles/style.css">
<style>
  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
  </style>
<body>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="w3-main" style="margin-left:200px">
<div class="w3-teal" style="position: fixed; top: 0; width: 100%; z-index: 500">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large" style="text-align: left;" onclick="w3_open()">&#9776;</button>
  <!-- <div class="w3-container">
    <h1>Profile</h1>
  </div> -->
</div>

<!-- <div class="w3-container">
  <h3>Responsive Sidebar</h3>
  <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
  <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
  <p>The sidebar will overlay of the page content.</p>
  <p><b>Resize the browser window to see how it works.</b></p>
</div> -->

<div class="w3-container" style="margin-top: 50px">
<div  id="profileInfo" style="width: 100%;">
    <div class="card" style=" padding: 10px; margin-top: 25px; width: 100%;">
      <select>
  <option value="volvo">Ingenieria en Informatica</option>
  <option value="saab">Economia</option>
  <option value="opel">Medicina</option>
  <option value="audi">Abogacia</option>
</select>
    </div>

<div style="; width: 100%;overflow: auto;">
<!-- Grid row -->
<div style="width: 100%; margin:15px">
  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  </a>
  <!-- Grid column -->

  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
</a>
  <!-- Grid column -->
</div>
<div style="width: 100%; margin:15px">
  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  </a>
  <!-- Grid column -->

  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
</a>
  <!-- Grid column -->
</div>
<div style="width: 100%; margin:15px">
  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  </a>
  <!-- Grid column -->

  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
</a>
  <!-- Grid column -->
</div>
<div style="width: 100%; margin:15px">
  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  </a>
  <!-- Grid column -->

  <!-- Grid column -->
  <a href="./Profile.html">
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%; height: 75px" >
    <div class="view">
      <div style="background-color: rgb(150,0,0); float: left; width: 15%; height: 100%">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:100%; border-radius: 50%; border:5px solid white; position: relative; left: 25px; top:5px">
        </center>
      </div>
      </div>
      <div class="card-body text-center" style="width: 85%; float: right; margin-top: 0px">
        <!--Title-->
        <p class="card-title white-text" style="margin-left: 30px; margin-bottom: 10px; margin-top: 0px">Title of the news</p>
        <!--Text-->
        <p class="card-text white-text"  style="margin-left: 30px; margin-top: 5px">Sed ut perspiciatis unde omnis</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
</a>
  <!-- Grid column -->
</div>
</div>
</div>
</div>

</div>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
     </body>
</html>
