<html>
  <title>Profile</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="../static/styles/style.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="w3-main" style="margin-left:200px">
<div class="w3-teal" style="position: fixed; top: 0; width: 100%; z-index: 500">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large" style="text-align: left;" onclick="w3_open()">&#9776;</button>
  <!-- <div class="w3-container">
    <h1>Profile</h1>
  </div> -->
</div>

<!-- <div class="w3-container">
  <h3>Responsive Sidebar</h3>
  <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
  <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
  <p>The sidebar will overlay of the page content.</p>
  <p><b>Resize the browser window to see how it works.</b></p>
</div> -->

<div class="w3-container" style="margin-top: 50px">
<div  id="profileInfo" style="width: 100%;">
    <div class="card" style=" padding: 10px; margin-top: 25px; width: 100%;">
      <div style="background-color: rgb(160,0,0);padding: 0px; margin: 0px; height: 100px">
        <center>
          <img src="../Front/icons/img_avatar.png" alt="John" style="width:40%; border-radius: 50%; border:5px solid white; position: relative; top:25px">
        </center>
      </div>
      <h1 style="margin-top: 30px">John Doe</h1>
      <p class="title">CEO & Founder, Example</p>
      <p>Harvard University</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
    </div>

<div style="; width: 100%;overflow: auto;">
<!-- Grid row -->
<div style="width: 100%; margin:15px">
  <!-- Grid column -->
  <div class="col-md-6 mb-4" style="float: left; margin:10px">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%" >
      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(125).jpg" style="width: 100%" class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title white-text">Title of the news</h4>
        <!--Text-->
        <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
          quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6 mb-4" style="float: left; margin:10px">

    <!--Card-->
    <div class="card primary-color-dark">

      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(122).jpg" style="width: 100%"  class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title white-text">Title of the news</h4>
        <!--Text-->
        <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
          quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->
</div>
<div style="width: 100%; margin:15px">
  <!-- Grid column -->
  <div class="col-md-6 mb-4" style="float: left; margin:10px;">
    <!--Card-->
    <div class="card default-color-dark" style="width: 100%;" >
      <!--Card image-->
      <div class="view" >
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(125).jpg" style="width: 100%" class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body text-center" style="text-align: left; padding: 10px">
        <!--Title-->
        <h4 class="card-title white-text" >Title of the news</h4>
        <!--Text-->
        <p class="card-text white-text" >Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
          quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6 mb-4" style="float: left; margin:10px">

    <!--Card-->
    <div class="card primary-color-dark">

      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(122).jpg" style="width: 100%"  class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title white-text">Title of the news</h4>
        <!--Text-->
        <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
          quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->
</div>
</div>
</div>
</div>

</div>
<script>
function w3_open() {
  //document.getElementById("mySidebar").style.display = "block";
  $.get( "http://0.0.0.0:5000/feed/sistemas", function( data ) {
  $( ".result" ).html( data );
  alert( data );
});
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
     </body>
</html>
